@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(2, 8, 23);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(2, 8, 23);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(2, 8, 23);
  --primary: rgb(72, 96, 249);
  --primary-foreground: rgb(249, 250, 251);
  --secondary: rgb(241, 245, 249);
  --secondary-foreground: rgb(15, 23, 42);
  --muted: rgb(241, 245, 249);
  --muted-foreground: rgb(100, 116, 139);
  --accent: rgb(241, 245, 249);
  --accent-foreground: rgb(15, 23, 42);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(249, 250, 251);
  --border: rgb(203, 213, 225);
  --input: rgb(203, 213, 225);
  --ring: rgb(72, 96, 249);
  --chart-1: rgb(72, 96, 249);
  --chart-2: rgb(129, 82, 224);
  --chart-3: rgb(51, 204, 184);
  --chart-4: rgb(235, 180, 71);
  --chart-5: rgb(224, 82, 129);
  --sidebar: rgb(249, 250, 251);
  --sidebar-foreground: rgb(2, 8, 23);
  --sidebar-primary: rgb(72, 96, 249);
  --sidebar-primary-foreground: rgb(249, 250, 251);
  --sidebar-accent: rgb(241, 245, 249);
  --sidebar-accent-foreground: rgb(15, 23, 42);
  --sidebar-border: rgb(203, 213, 225);
  --sidebar-ring: rgb(72, 96, 249);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.2rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220 30% 20%);
  --shadow-2xs: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.05);
  --shadow-xs: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.05);
  --shadow-sm: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.10), 0rem 1px 2px -1.2px hsl(220 30% 20% / 0.10);
  --shadow: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.10), 0rem 1px 2px -1.2px hsl(220 30% 20% / 0.10);
  --shadow-md: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.10), 0rem 2px 4px -1.2px hsl(220 30% 20% / 0.10);
  --shadow-lg: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.10), 0rem 4px 6px -1.2px hsl(220 30% 20% / 0.10);
  --shadow-xl: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.10), 0rem 8px 10px -1.2px hsl(220 30% 20% / 0.10);
  --shadow-2xl: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.25);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: rgb(2, 8, 23);
  --foreground: rgb(249, 250, 251);
  --card: rgb(2, 8, 23);
  --card-foreground: rgb(249, 250, 251);
  --popover: rgb(2, 8, 23);
  --popover-foreground: rgb(249, 250, 251);
  --primary: rgb(72, 96, 249);
  --primary-foreground: rgb(249, 250, 251);
  --secondary: rgb(30, 41, 59);
  --secondary-foreground: rgb(249, 250, 251);
  --muted: rgb(30, 41, 59);
  --muted-foreground: rgb(148, 163, 184);
  --accent: rgb(30, 41, 59);
  --accent-foreground: rgb(249, 250, 251);
  --destructive: rgb(127, 29, 29);
  --destructive-foreground: rgb(249, 250, 251);
  --border: rgb(51, 65, 85);
  --input: rgb(51, 65, 85);
  --ring: rgb(72, 96, 249);
  --chart-1: rgb(72, 96, 249);
  --chart-2: rgb(129, 82, 224);
  --chart-3: rgb(51, 204, 184);
  --chart-4: rgb(235, 180, 71);
  --chart-5: rgb(224, 82, 129);
  --sidebar: rgb(2, 8, 23);
  --sidebar-foreground: rgb(249, 250, 251);
  --sidebar-primary: rgb(72, 96, 249);
  --sidebar-primary-foreground: rgb(249, 250, 251);
  --sidebar-accent: rgb(30, 41, 59);
  --sidebar-accent-foreground: rgb(249, 250, 251);
  --sidebar-border: rgb(51, 65, 85);
  --sidebar-ring: rgb(72, 96, 249);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.2rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.2rem;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(220 30% 20%);
  --shadow-2xs: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.25);
  --shadow-xs: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.25);
  --shadow-sm: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.50), 0rem 1px 2px -1.2px hsl(220 30% 20% / 0.50);
  --shadow: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.50), 0rem 1px 2px -1.2px hsl(220 30% 20% / 0.50);
  --shadow-md: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.50), 0rem 2px 4px -1.2px hsl(220 30% 20% / 0.50);
  --shadow-lg: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.50), 0rem 4px 6px -1.2px hsl(220 30% 20% / 0.50);
  --shadow-xl: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 0.50), 0rem 8px 10px -1.2px hsl(220 30% 20% / 0.50);
  --shadow-2xl: 0rem 0.2rem 0.5rem -0.2rem hsl(220 30% 20% / 1.25);
}

.bg-canvasBase{
  display: none;
}
nav{
  display: none;
}